@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700");

body {
  background: white;
  padding-right: 200px;
  padding-left: 300px;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 80px 0;
}

.chatbar {
  background: rgba(168,168,168,1);
  border-top: 1px solid black;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 8px;
  position: fixed;
  right: 0;
}

.drawer {
  background: darkgray;
}

.chatbar-username {
  flex: 3;
}

.message {
  display: flex;
  padding: 8px;
}

.message.system {
  font-style: italic;
  padding: 8px 20px;
}




.navbar {
  background: rgba(168,168,168,1);
  border-bottom: 1px solid black;
  height: 120px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

.navbar-brand {
  color: black ;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  text-decoration: none;
  background: rgba(168,168,168,1);
}


html, body, section {
  height: 100%;
}

body {
  color: black;
  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 150%;
  text-align: left;
}

div {
  display: relative;
  flex-direction: column;
}

h1 {
  font-size: 0.9em;
  margin: 0 0 0.75rem 0;
}
nav {
  background-color: rgba(0, 0, 255, 1);
}

.container {
  display: flex;
  margin: 0 ;
}

.left-half {
  background: linear-gradient(to right, rgba(96,96,96,1), rgba(96,96,96,1));
  flex: 0.5;
  padding: 1rem;
}

.right-half {
  background: linear-gradient(to right, rgba(168,168,168,1), rgba(96,96,96,1));
  flex: 1;
  min-width: 500px;
  padding-right: 200px; 
  padding: 1rem;
}

input {
  width: 150px !important;
}

.new {
  font-size: 1.5  em;
}

.stocks {
  font-size: 1.5em;
}

a {
    color: white;
}

table {
  border:1px solid black;
}

label.user {
  padding-left: 10px;
  padding-right: 10px;
  color: black;
}

label.email {
  padding-left: 10px;
  padding-right: 30px;
  color: black;
}

label.password{
  padding-left: 10px;
  padding-right: 10px;
   color: black;
}

button.login-button {
  padding-left: 50px ;
  color:black;
}

button.register-button {
  margin-left: 10px;
}

div.login {
  float:right;
  
}
 
input.user-reg{
  font-size: x-small;
  padding-left: 10px;
}

input.email{
  font-size: x-small;
  padding-left: 10px;
}

input.password-reg {
  font-size: x-small;
  padding-left: 10px;
}

section .container{
  padding-left: 100px;
}

a.navbar-brand {
  background: rgba(168,168,168,1);

}

input.ticker{
  color: black;
}

div.app-bar {
background-color: rgba(0, 0, 255, 1);
}

div.registration {
  padding-left: 10px;
}

button.close {
  float:right;
}

h1.news {
  font-size: 1em;
}
